
doctype html
html(lang = 'en')

  block vars

  include head.pug
  body.bg-light
  
    include navbar.pug

    section.container
      header.jumbatron
        h1 #{title}
        p.lead #{caption}

    section.container
      - var id = 'example-canvas'
      include canvas.pug

      p.text-right by #{author}, featuring #[a(href = 'https://github.com/cginternals/webgl-operate') webgl-operate].

    block breakdown

    script(src = source)
    include foot.pug
