extends partial/example.pug

block vars 
  - var title   = 'Projections for Environment Mapping'
  - var author  = 'cgcostume, chistopher, maikz, carolinfiedler'
  - var caption = 'ToDo.'
  - var source  = 'environment-projections.js'


include partial/code.pug

block breakdown 
  section.container
    h4 Example Breadown
    p This should describe the example in much more detail, e.g., refering to relevant code snippets and resources
  
    +code('example-code', 'const example.code.for.breakdown = here;', 'Example code for source break down:')
