extends partial/example.pug

block vars 
  - var title   = 'Sky Triangle'
  - var author  = 'cgcostume, chistopher, maikz'
  - var caption = 'ToDo.'
  - var source  = 'sky-triangle.js'


include partial/code.pug

block breakdown 
  section.container
    h4 Example Breadown
    p This should describe the example in much more detail, e.g., refering to relevant code snippets and resources
  
    +code('example-code', 'const example.code.for.breakdown = here;', 'Example code for source break down:')
