
include partial/code.pug
include partial/example.pug

+begin_example('Sky Triangle', 'cgcostume, chistopher, maikz', 'ToDo.')

section.container
  h4 Example Breadown
  p This should describe the example in much more detail, e.g., refering to relevant code snippets and resources

  +code('jsdelivr', '<script src="https://cdn.jsdelivr.net/npm/webgl-operate@0.1.6/dist/webgl-operate.min.js"></script>'
    , 'You can integrate webgl-operate as bundled JavaScript in your HTML:')

+end_example('sky-triangle.js')
