
include example.pug
+example('Daniel Limberger', 'Test Renderer', 'Simple rendering showing a pixel-width outline using OES_standard_derivatives.')

// section.container
    // include:markdown-it test-renderer.md

script(src = 'test-renderer.js')

include partial/foot.pug
