extends partial/example.pug

block vars 
  - var title   = 'Test Renderer'
  - var author  = 'cgcostume'
  - var caption = 'Simple rendering showing a pixel-width outline using OES_standard_derivatives.'
  - var source  = 'test-renderer.js'


include partial/code.pug

block breakdown 
  section.container
    h4 Example Breadown
    p This should describe the example in much more detail, e.g., refering to relevant code snippets and resources
  
    +code('example-code', 'const example.code.for.breakdown = here;', 'Example code for source break down:')
